 ```
    # --- Environment Variables ---
    # Never commit your secret keys!
    .env

    # --- Python ---
    # Virtual environment
    venv/
    *.pyc
    __pycache__/

    # --- Node ---
    # The massive folder of frontend dependencies
    react-frontend/node_modules/
    react-frontend/dist/
    npm-debug.log

    # --- OS Files ---
    .DS_Store
    ```